.section {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 40vw;
    background-color: black;
    transition: background-color 5ms ease-in-out;
    color: white;
    text-transform: uppercase;
    user-select: none;
    text-align: center;
    mix-blend-mode: multiply;
  }

  &.active {
    h2 {
      background-color: white;
      color: black;
      mix-blend-mode: screen;
    }
  }

  .dot {
    position: absolute;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    transition: box-shadow 0.5s;
    cursor: default;

    &::before {
      content: "Light Mode";
      position: absolute;
      top: 50%;
      left: 60px;
      transform: translateY(-50%);
      white-space: nowrap;
      color: white;
      font-size: 1.5em;
      font-weight: 500;
    }

    &.active {
      background-color: black;
      &::before {
        content: "Dark Mode";
        color: black;
      }
    }

    &:active {
      box-shadow: 0 0 0 200vh white;
    }
  }
}

// .relative {
//   z-index: -1;
//   height: 100vh;
//   width: 100vw;
//   overflow-x: hidden;
// }

// .description {
//   overflow-x: hidden;
// }
